@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

.section{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.imagen-taqueria{
  display: flex;
  justify-content: center;
  width: 76%;
  height: 35%;
  margin: auto;
  border-radius: 20px;
}

.title-taqueria{
  margin: 9px 33px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.review-taqueria{
  margin: 20px 30px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.qualify{
  display: flex;
  justify-content:  center;
}

.qualify h2{
  display: flex;
  justify-content: center;
  margin: 5px;
}


.clasificacion{
  display: flex;
  font-size: 40px;
  

}

.commit1{
  display: flex;
  border-radius: 10px;
  border: black solid 1.5px;
  margin: auto;
}

/* .boton-calificar{
  display: flex !important;
  width: 15rem !important;
  height: 2rem !important;
  flex-direction: column !important;
  justify-content: center !important;
} */

.cambios .boton{
  padding: 20px;
  width: auto !important;
}

.cambios{
  padding: 10px;
}