
.section{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.imagen-taqueria{
  width: auto;
  height: 35%;
  margin: 20px;
  border-radius: 20px;
}

.title-taqueria{
  margin: 20px;
  font-size: 15px;
  
}
