section form {
  display: flex;
  flex-direction: column;
  font-size: 50px;
}

.campos {
  border-radius: 20px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 10px;
  background-color: rgba(143, 143, 143, 0.479);
  border: none;
  margin-top: 30px;
}

.contenedor-titulo-negocios {
  display: flex;
  align-items: left;
  padding: 0;
  margin-top: 10px;
}

.titulo-negocio {
  flex: 5 1;
}

.info-negocio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

.titulo-negocio h2 {
  margin: 0;
  padding: 0;
}

.info-negocios ul {
  margin: 5px 5px;
  padding: 10px 10px;
}

.img-logo-taco {
  flex: 1;
}

.img-logo-taco img {
  width: 15vw;
  margin: 0px 5px;
  padding-top: 5px;
}

.titulo-negocio {
  flex: 5;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.lista-datos {
  align-items: center;
  border-top: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  padding-left: 15px;
}

.lista-datos ul {
  list-style: none;
  color: #4b4c4d;
  padding-inline-start: 0px;
}

.lista-datos li {
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
}

.star-review {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.star-review p {
  margin: 0;
  padding-top: 5px;
}
.lista-datos li p{
  display:flex;
  padding-left: 10px;

}

@media only screen and (min-width: 768px) {
  .titulo-negocio {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;

  }

  .info-negocio {
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contenedor-titulo-negocios {
    flex-direction: column;
  }

  .titulo-negocio {
    flex-direction: column;
  }

  .lista-datos {
    border: none;
    padding-left: 30px;
    font-size: large;
    align-items: center;
    display: flex
  }

  .lista-datos li{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
  }

  .lista-datos li p{
    display:flex;
    padding-left: 10px;

  }

}

@media only screen and (min-width: 1200px) {
  .lista-datos {
    align-items: center;
    display: flex
  }

}
