
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

body{
 
   margin:0;
   padding:0;
   background-image: url("../images/img_food.png");
   /*background-color: #b2c8f7;
   //background-repeat: no-repeat;
   //background-position: right top;
   //background-attachment: fixed;
   */
   background-size:cover;
   height: 100vh;
}
}

.flex-logo {
  display: flex;
  flex-direction: column;
  /*
  //justify-content: center;
  */
  align-items: center;
  width: 900px;
  height: 560px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  
}

.fas  {
  display: flex;
}

.flex-inicio {
  display: flex;
  flex-direction: column;
 /* //justify-content: center; */
  align-items: center;
  width: 20px;
  height: 50px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  
}

.Inicio {
   /*//background-color: #b2c8f7; */
    min-height: 100vh;
  /*  //display: flex; *
    flex-direction: column;
    align-items: center;
  /* // justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: "Roboto", sans-serif;
  }

  .registro-button {
    width: 170px;
    padding: 2px;
    height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    background-color: #02022c;
    font-family: "Roboto", sans-serif;
  }

